<div class="row justify-content-between bnr-form-w3ls">
  <div class="col-lg-3">
    <h4><%= t "slogan" %></h4>
  </div>
  <div class="col-lg-9">
    <%= form_with url: jobs_path, method: :get, id: "search-form", local: true do %>
    <div class="row">
      <div class="col-md-3 form-group mb-md-0">
        <label class="text-capitalize">
          <%= t "find_by_career" %>
        </label>
        <%= text_field_tag :career_name, params[:career_name],
        class: "form-control", placeholder: t("search_career") %>
      </div>
      <div class="col-md-5 form-group mb-md-0">
        <label class="text-capitalize">
          <%= t "find_by_company" %>
        </label>
        <%= text_field_tag :company_name, params[:company_name],
        class: "form-control", placeholder: t("search_company") %>
      </div>
      <div class="col-md-3 form-group mb-md-0">
        <label class="text-capitalize">
          <%= t "find_by_job" %>
        </label>
        <%= text_field_tag :job_info, params[:job_info],
        class: "form-control", placeholder: t("search_job") %>
      </div>
      <div class="col-md-1 form-group search">
       <button type="submit" class="btn btn-w3ltd btn-block w-100 bg-theme font-weight-bold"><span
        class="fa fa-search"></span>
      </button>
      </div>
    </div>
    <% end %>
  </div>
</div>
<hr>
